.admin-layout {
  width: 100%;

  min-height: 100vh;

  background: #efe6d7;
}

.admin-main-content {
  min-height: 100vh;

  margin-left: 250px;

  background: #efe6d7;
}


/* Sidebar collapses on smaller screens */

@media (max-width: 800px) {
  .admin-main-content {
    margin-left: 78px;
  }
}